doctype
html(lang='en')
  head
    script(src='/public/js/photo-feed.js' type="module" defer)
    meta(charset='utf-8')
    title
    div#errors-container
  body
    h1 Instagram
    div
      a(href=`/${user.id}`) #{user.userName}'s Profile Page -- Check it out!
    div
      .feed
        include includes/photo-feed.pug

    div
      a(href='/login') Log Out
