* {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.feed {
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  max-width: 700px;
  text-decoration: none;
}
h1 {
  text-align: center;
}
.likes {
  max-width: 800px;
  margin-left: 20px;
  margin-right: auto;
  flex-direction: row;
  align-content: flex-start;
  padding: 10px;
  border: 0cm solid black;
}
#user-page-button {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.photo {
  margin: 20px;
  outline: 1px grey solid;
}
#user-icon {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.photo-header {
  flex-direction: row;
  justify-content: left;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  color: darkblue;
}
.comment-list {
  margin-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
#totalLikes {
  font-family: Arial, Helvetica, sans-serif;
}
/* .comment-form {
  margin-left: 20px;
  margin-right: 20px;
} */
.comments {
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
}
button {
  font-family: Arial, Helvetica, sans-serif;
}
