* {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.feed {
  margin-left: 180px;
  margin-right: 180px;
}
h1 {
  text-align: center;
}
#like-button {
  margin: 300px;
}
#user-page-button {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
}
.photo {
  margin: 20px;
  outline: 1px grey solid;
}
#user-icon {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.photo-header {
  flex-direction: row;
  justify-content: left;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  color: darkblue;
}
.comment-list {
  margin-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.show-comments {
  height: 20px;
  width: 100%;
}
