html {
    /* background-image: url(https://static.businessinsider.com/image/52fc0e91ecad04d917905b69-/image.jpg); */
    background: linear-gradient(35deg, yellow, orange, orangered, purple,purple,purple, purple);
}

#outer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* box-sizing: border-box; */
}

#login-form {
    display: flex;
    border: 1px solid rgba(219,219,219,1);
    flex-direction: column;
    color: rgba(38,38,38,1);
    flex-grow:1;
    align-items: center;
    margin-top: 12px;
    padding: 10px 20px;
    border-radius: 5px;
    width: 100%;
}

.logo {
    display: flex;
    width: 50px;
}

#font {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100px;
    overflow: visible;
}

.instafont {
    overflow: visible;
}

#new-user {
    display: flex;
    border: 1px solid rgba(219,219,219,1);
    flex-direction: column;
    color: rgba(38,38,38,1);
    flex-grow:1;
    margin-top: 12px;
    padding: 10px 20px;
    border-radius: 5px;
    width: 100%;
}

#demo-login {
    display: flex;
    flex-direction: column;
    align-items: center;
}
input:focus {
    background-color: cadetblue;
    border: 2px solid green;
  }

button {
    padding: 5px 0;
    border: 0;
    border-radius: 5px;
    background-color: cadetblue;
    color: white;
    width: 80%;
}

/* #demoButton {
    justify-content: center;
    
} */
/* button:active {
    border: 0;
    border-radius: 5px;
    background-color: cadetblue;
    color: white;
} */

button:hover {
    background-color: blue;
}

.auth-input {
    display: flex;
    align-items: center;
    justify-content: center;
}
